.profile__edit-button {
    position: absolute;
    padding: 0;
    border: 0;
    background-color: unset;
    top: 18px;
    right: calc(-18px - 10px);  /* width of edit-button and required margin */
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    background-image: url('../../../images/edit-button.svg');
    background-size: contain;
    background-position: center;
    opacity: 1;
    transition: opacity .2s ease;
}

.profile__edit-button:hover {
  opacity: .6;
}

.profile__edit-button:hover {
  outline: unset;
  opacity: .4;
}

@media screen and (min-width: 768px) {
  .profile__edit-button {
    top: 21px;
    right: calc(-20px - 12px);
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__edit-button {
    top: 28px;
    right: calc(-24px - 18px);
    width: 24px;
    height: 24px;
  }
}
