.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  height: 100vh;
  -webkit-transition: opacity .3s ease-in-out, height 0s linear;
  -moz-transition: opacity .3s ease-in-out, height 0s linear;
  -o-transition: opacity .3s ease-in-out, height 0s linear;
  transition: opacity .3s ease-in-out, height 0s linear;
}
