.profile__info-text {
  position: relative;
  text-align: center;
  max-width: 189px;
}

@media screen and (min-width: 768px) {
  .profile__info-text {
    max-width: 282px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__info-text {
    max-width: 294px;
    text-align: left;
  }
}
