.place-cards__link {
  text-decoration: none;
}

.place-cards__link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 282px;
  border-radius: 10px;
  background-color: #000;
  opacity: 0;
  transition: opacity .2s ease;
}

.place-cards__link:hover::before {
  opacity: .3;
}
